@import "@/styles/flex.scss";
@import "@/styles/vars.scss";
@import "@/styles/mixin.scss";

.wrapper {
	min-height: 100dvh;
	width: 100%;
	border: 2px solid red;
	@include flex-center;
	gap: 24px;
	@include breakpoint(mobile-x) {
		padding: 0;
	}

	@include customBreakpointSize(910px) {
		flex-direction: column;
	}

	.carouselBlock {
		border-radius: 16px;
		max-width: 648px;
		width: 100%;
		overflow-x: hidden;
		@include breakpoint(tablet-x) {
			max-width: 100%;
			border-radius: 0;
		}
		@include breakpoint(tablet-x) {
			display: none;
		}
	}
}
