@import "@/styles/vars";
@import "@/styles/flex";
@import "@/styles/fonts";

.wrapper {
	width: 100%;
	position: relative !important;

	.collapse {
		border: 1px solid $light_grey;
		background: $white;
		width: 100%;
		border-radius: 12px;
		width: 100%;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		width: 100% !important;
		gap: 8px;

		.icon {
			background: $pink_light;
			min-width: 32px;
			max-width: 32px;
			min-height: 32px;
			max-height: 32px;
			@include flex-center;
			border-radius: 6px;
		}

		.info {
			width: 100%;
			@include flex-align;
			gap: 8px;

			& > p {
				color: $black;
				font-size: $font-size_desktop_s;
				font-weight: $font_weight_medium;
				display: flex;
				flex-grow: 1;
			}

			@include breakpoint(laptop) {
				width: 60%;
			}
			@include breakpoint(mini-tablet) {
				width: 80%;
			}
		}

		.child {
			width: 100%;
			max-width: max-content;
		}
	}
	.delete_button {
		position: absolute;
		right: 16px;
		top: 40px;
		width: 40px;
		height: 40px;
	}
	[class~="ant-collapse-header-text"] {
		width: calc(100% - 40px) !important;
	}
}
