@import "@/styles/flex.scss";
@import "@/styles/vars.scss";
@import "@/styles/mixin.scss";

.container {
	color: $black;
	padding: 0px 16px;
	@include flex-column-center;
	@include breakpoint(mobile-x) {
		padding: 16px;
	}
	.titles {
		text-align: center;
		margin-top: 8px;
		&.popup_title {
			margin-top: 40px;
			@include breakpoint(mobile-x) {
				margin-top: 20px;
			}
		}
		> h2 {
			@include font_size_xl;
		}
		> p {
			margin-top: 4px;
			font-size: $font_size_desktop_s;

			@include breakpoint(mobile-x) {
				font-size: $font_size_mobile_m;
			}
		}
	}
	.form__block__body {
		width: 100%;
		margin-top: 40px;

		@include breakpoint(mobile-x) {
			margin-top: 32px;
		}
	}
	.control_buttons {
		margin-top: 32px;
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		gap: $gap_small;
		&.selected {
			flex-direction: row;

			@include breakpoint(mobile-x) {
				flex-direction: column-reverse;
			}
		}
		@include breakpoint(mobile-x) {
			flex-direction: column-reverse;
		}
	}
}
