@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-align {
	display: flex;
	align-items: center;
}

@mixin flex-start {
	display: flex;
	justify-content: flex-start;
}

@mixin flex-stretch {
	display: flex;
	align-items: stretch;
}

@mixin flex-column-align {
	display: flex;
	align-items: center;
	flex-direction: column;
}

@mixin flex-justify-center {
	display: flex;
	justify-content: center;
}

@mixin flex-justify-between-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-justify-around-center {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

@mixin flex-justify-between {
	display: flex;
	justify-content: space-between;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-column-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@mixin flex-column-justify-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin flex-column-between-center {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

@mixin flex-align-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-align-evenly {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

@mixin flex-end-between {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

@mixin flex-end {
	display: flex;
	justify-content: flex-end;
}

@mixin flex-align-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@mixin flex-end {
	display: flex;
	justify-content: flex-end;
}

@mixin flex-column-align-end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@mixin flex-column-align-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin flex-align-start {
	display: flex;
	align-items: flex-start;
}

@mixin flex-justify-evenly {
	display: flex;
	justify-content: space-evenly;
}

@mixin flex-justify-evenly-center {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

@mixin flex-column-justify-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin flex-justify-start-align {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

@mixin flex-column-justify-end {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
