@import "vars";
@import "mixin";

body {
  &.no-scroll {
	overflow : hidden;
  }

  &.dark {
	background-color : rgba(29, 27, 29, 1);
  }
}

.ant-btn {
  box-sizing : border-box !important;
  width      : auto !important;
  height     : auto !important;
  border     : none !important;
}

.react-international-phone-input-container {
  width : 100%;
}

.react-international-phone-country-selector {
  position     : static !important;
  border-right : none !important;
}

.react-international-phone-input {
  border-left   : none !important;
  border-radius : 0 8px 8px 0 !important;
}

.react-international-phone-country-selector-dropdown {
  z-index   : $z-index_third !important;
  min-width : auto !important;
  max-width : unset !important;
  width     : auto !important;
}

.ant-select {
  width : 100% !important;
}

.dark_mode_input {
  background-color : #2d2d2d !important;
  border           : 1px solid #414141 !important;
  color            : $light_grey;

  &:hover {
	border-color : $dark_grey !important;
  }

  &:focus {
	border-color : $dark_grey;
	box-shadow   : unset;
  }
}

.purple_mode_input {
  background-color : $dark_purple !important;
  border           : none !important;
  color            : $light_grey;

  &:hover {
	border-color : $grey !important;
  }

  &:focus {
	border-color : $grey;
	box-shadow   : unset;
  }
}

.gray_mode_input {
  background-color : $dark_white;
  border           : 1px solid $medium_grey !important;
  color            : $black;

  &:hover {
	background-color : $dark_white;
	border-color     : $grey !important;
  }

  &:focus {
	background-color : $dark_white;
	border-color     : $grey;
	box-shadow       : unset;
  }

  &:active {
	background-color : $dark_white;
  }
}

.show_arrows {
  -webkit-appearance : number-input;
  -moz-appearance    : number-input;
  appearance         : number-input;
}

.ant-input-outlined.ant-input-disabled {
  border : none !important;
}

.em_job_multi_select_component {
  > .ant-select-selector {
	padding-left : 28px !important;
  }

  .ant-select-selection-placeholder {
	inset-inline-start : 38px !important;
  }
}

.dark_select_component {
  color : #eaecf0 !important;

  .ant-select-item-option-state > span {
	@include flex-center;

	> svg > path {
	  stroke : $accent;
	}
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
	background : rgb(129, 129, 129) !important;
	color      : $white !important;
  }

  .ant-select-selection-placeholder {
	color : $grey !important;
  }

  > .ant-select-selector {
	background-color : #2d2d2d !important;
	color            : white !important;
	border           : 1px solid #414141 !important;

	&:hover {
	  border-color : $dark_grey !important;
	}
  }

  .ant-select-item-option {
	color            : $light_grey;
	z-index          : $z-index_above !important;
	background-color : transparent !important;

	&:hover {
	  background : #7c7c7c !important;
	}
  }

  .ant-select-selection-item {
	color : $light_grey !important;
  }

  .ant-select-clear {
	background-color : transparent !important;

	> span > svg {
	  fill : white !important;
	}
  }

  .ant-select-arrow > span > svg {
	fill : $dark_grey;
  }

  .ant-select-arrow {
	@include flex-center;

	> svg > path {
	  fill : $dark_grey !important;
	}
  }
}

.grey_select_component {
  color : $black !important;

  .ant-select-item-option-state > span {
	@include flex-center;

	> svg > path {
	  stroke : $accent;
	}
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
	background : $medium_grey !important;
	color      : $black !important;
  }

  .ant-select-selection-placeholder {
	color : $dark_grey !important;
  }

  > .ant-select-selector {
	background-color : $dark_white !important;
	color            : white !important;
	border           : 1px solid $medium_grey !important;

	&:hover {
	  border-color : $grey !important;
	}
  }

  .ant-select-item-option {
	color            : $black;
	z-index          : $z-index_above !important;
	background-color : transparent !important;

	&:hover {
	  background : $medium_grey !important;
	}
  }

  .ant-select-selection-item {
	color : $black !important;
  }

  .ant-select-clear {
	background-color : transparent !important;

	> span > svg {
	  fill : black !important;
	}
  }

  .ant-select-arrow > span > svg {
	fill : $dark_grey;
  }

  .ant-select-arrow {
	@include flex-center;

	> svg > path {
	  fill : $dark_grey !important;
	}
  }
}

.purple_select_component {
  .ant-select-item-option-state > span {
	@include flex-center;

	> svg > path {
	  stroke : $accent;
	}
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
	background : #523373 !important;
	color      : $white !important;
  }

  .ant-select-selection-placeholder {
	color : $grey !important;
  }

  > .ant-select-selector {
	background-color : $dark_purple !important;
	color            : white !important;
	border           : 1px solid $dark_purple !important;

	&:hover {
	  border-color : #361e4f !important;
	}
  }

  .ant-select-item-option {
	color            : $light_grey;
	z-index          : $z-index_above !important;
	background-color : transparent !important;

	&:hover {
	  background : #523373 !important;
	}
  }

  .ant-select-selection-item {
	color : $light_grey !important;
  }

  .ant-select-clear {
	background-color : transparent !important;

	> span > svg {
	  fill : white !important;
	}
  }

  .ant-select-arrow > span > svg {
	fill : $dark_grey;
  }

  .ant-select-arrow {
	@include flex-center;

	> svg > path {
	  fill : $dark_grey !important;
	}
  }
}

.dark_select {
  background-color : rgb(45, 45, 50) !important;
}

.purple_select {
  background-color : $dark_purple !important;
}

.grey_select {
  background-color : $dark_white !important;
}

.dark_multi_select {
  background-color : rgb(45, 45, 50);

  @include pageScroll("4px", "500px", "500px", "green");

  .rc-virtual-list-scrollbar,
  .rc-virtual-list-scrollbar-vertical {
	width            : 8px !important;
	border-radius    : 8px !important;
	background-color : rgb(56, 56, 56) !important;
  }
}

.ant-select-selector {
  border-color  : $light_grey !important;
  box-shadow    : unset !important;
  padding-right : 32px !important;

  &:hover {
	border-color : $grey !important;
  }
}

.ant-select-disabled {
  .ant-select-selector {
	&:hover {
	  border-color : $light_grey !important;
	}
  }
}

.ant-select-status-error {
  .ant-select-selector {
	border-color : $status-red !important;

	&:hover {
	  border-color : $status-red !important;
	}
  }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background : rgba(246, 243, 252, 1) !important;
}

.ant-select-item-option {
  z-index : $z-index_above !important;

  &:hover {
	background : rgba(246, 243, 252, 1) !important;
  }
}

.ant-select-item-option-content {
  -webkit-box-orient : vertical;
  display            : -webkit-box;
  -webkit-line-clamp : 1;
  overflow           : hidden;
  max-width          : 92%;
}

.rc-virtual-list-scrollbar,
.rc-virtual-list-scrollbar-vertical {
  width         : 8px !important;
  border-radius : 8px !important;
  background    : $dark_white !important;
}

.rc-virtual-list-scrollbar-thumb,
.rc-virtual-list-scrollbar-thumb-moving {
  width         : 8px !important;
  background    : $accent !important;
  border-radius : 8px !important;
}

.ant-select-selection-item {
  b {
	display : none !important;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background   : $accent_gradient !important;
  border-color : $accent !important;

  &:after {
	width        : 4.1px !important;
	height       : 7.5px !important;
	border-width : 1px !important;
  }
}

.filter_checkbox {
  .ant-checkbox-inner {
	border : 0.8px solid #c1c1c1 !important;
  }

  .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
	border-color : $medium_grey !important;
  }
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover,
.ant-checkbox-inner,
.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color : $accent !important;
}

.ant-checkbox-wrapper-disabled {
  .ant-checkbox-checked .ant-checkbox-inner {
	background   : $grey !important;
	border-color : $grey !important;
  }
}

.slick-track {
  height : 100% !important;
}

.slick-dots li {
  width : 100% !important;

  &:first-child {
	padding-left : 10px !important;
  }

  &:last-child {
	padding-right : 10px !important;
  }

  @include breakpoint(mobile-x) {
	max-width : 100% !important;
	width     : 100% !important;
	left      : 0 !important;
  }
}

.ant-menu-ite {
  margin      : 0 !important;
  font-size   : 30px !important;
  font-weight : 400 !important;
}

.ant-carousel .slick-dots-bottom {
  button {
	background : #c1bdbd !important;
  }

  @include breakpoint(mobile-x) {
	bottom : 109px !important;
  }
}

.ant-menu {
  background-color : $white !important;
  font-size        : 14px !important;
  border           : none !important;
}

.side_menu_dark {
  background : transparent !important;

  .ant-menu-submenu-title {
	color : white !important;
  }

  .ant-menu-sub {
	background : transparent !important;
  }

  .ant-menu-title-content {
	> a {
	  color : white !important;

	  &:hover {
		color : black !important;
	  }
	}
  }

  .ant-menu-item:hover {
	background-color : $light_accent !important;
	color            : black !important;
  }

  .ant-menu-item-selected {
	background-color : $medium_grey;
	color            : black !important;
  }
}

.side_menu_purple {
  background : transparent !important;

  .ant-menu-submenu-title {
	color : white !important;
  }

  .ant-menu-sub {
	background : transparent !important;
  }

  .ant-menu-title-content {
	> a {
	  color : white !important;

	  &:hover {
		color : black !important;
	  }
	}
  }

  .ant-menu-item:hover {
	background-color : $light_accent !important;
	color            : black !important;
  }

  .ant-menu-item-selected {
	background-color : $light_accent;
	color            : black !important;
  }
}

.submenu-title {
  background-color : transparent !important;
  text-align       : left !important;
  padding          : 10px 8px !important;
  color            : $black !important;
}

.ant-menu-submenu-title {
  color            : $black !important;
  background-color : transparent !important;
}

.ant-menu-submenu-title:hover {
  background-color : transparent !important;
}

.ant-menu-item {
  color         : $black !important;
  font-size     : 12px !important;
  text-align    : left !important;
  padding       : 10px 12px !important;
  margin-left   : 16px !important;
  border-radius : 8px !important;
}

.ant-menu-item:hover {
  background-color : $light_accent !important;
}

.ant-menu-item-selected {
  background-color : $light_accent !important;
  color            : $black !important;
  font-weight      : $font_weight_medium !important;
}

.ant-collapse-item {
  padding    : 16px !important;
  min-height : 64px !important;
}

.ant-collapse-header,
.ant-collapse-content-box {
  padding-left  : 0 !important;
  padding-right : 0 !important;
}

.ant-pagination-item,
.ant-pagination-item-active {
  border-radius : 50% !important;
  border-color  : transparent !important;
}

.ant-pagination-item-active {
  background : $pink_light !important;
  color      : $accent !important;

  & > a {
	color : $accent !important;
  }
}

.ant-modal-wrap {
  margin  : 10px 0;
  z-index : 999999999 !important;
}

.ant-modal-mask {
  z-index : 999999999 !important;
}

.ant-modal {
  top : 0 !important;
}

.ant-pagination,
.ant-pagination-jump-next,
.ant-pagination-item-container,
.ant-pagination-item-link-icon {
  color : $accent !important;

  .ant-pagination,
  .ant-pagination-jump-next,
  .ant-pagination-item-container,
  .ant-pagination-item-link-icon {
	color : $accent !important;
  }
}

.ant-toast-component {
  @include breakpoint(mobile-x) {
	display : none !important;
  }
}

.ant-select-item-option-content {
  & > .ant-flex > .ant-flex {
	width : 100% !important;

	& > span {
	  width         : 100% !important;
	  overflow      : hidden !important;
	  text-overflow : ellipsis !important;
	  white-space   : nowrap !important;
	}
  }
}

.ant-menu-inline {
  a {
	font-size : 14px !important;
  }
}

.ant-menu-sub {
  & a {
	font-size : 12px !important;
  }
}

.ant-menu-sub {
  margin-left : 16px !important;
}

.ReactCrop__drag-handle {
  border-radius : 50% !important;
}

.ord-nw {
  width        : 10px !important;
  height       : 10px !important;
  border-color : $accent !important;
  background   : $accent !important;
}

.ord-ne {
  width        : 10px !important;
  height       : 10px !important;
  border-color : $accent !important;
  background   : $accent !important;
}

.ord-se {
  width        : 10px !important;
  height       : 10px !important;
  border-color : $accent !important;
  background   : $accent !important;
}

.ord-sw {
  width        : 10px !important;
  height       : 10px !important;
  border-color : $accent !important;
  background   : $accent !important;
}

.ReactCrop--no-animate .ReactCrop__crop-selection {
  border  : 2px solid $accent !important;
  outline : none !important;
}

.ReactCrop__crop-selection::after {
  border : 2px solid $accent !important;
}

.ant-upload-drag {
  &:hover {
	border-color : $accent !important;
  }
}

.reactEasyCrop_Contain,
.reactEasyCrop_Container {
  width      : 100% !important;
  height     : 100% !important;
  object-fit : contain !important;
}

.reactEasyCrop_Image .reactEasyCrop_Contain {
  width      : auto !important;
  height     : auto !important;
  object-fit : contain !important;
}

.reactEasyCrop_CropAreaGrid {
  &::before,
  &::after {
	display : none !important;
  }
}

.ant-progress {
  .ant-progress-outer {
	margin  : 0 !important;
	padding : 0 !important;
  }

  .ant-progress-inner {
	width : 100% !important;
  }

  .ant-progress-text {
	display : none !important;
  }
}

// .circle_chart {
// 	.ant-progress {
// 		.ant-progress-outer {
// 			margin: 0 !important;
// 			padding: 0 !important;
// 		}
// 		.ant-progress-inner {
// 			width: 70px !important;
// 		}
// 		.ant-progress-text {
// 			display: none !important;
// 		}
// 	}
// }

.ant-dropdown-menu-item {
  padding : 10px 14px !important;
  color   : $black !important;
}

.ant-dropdown-menu-item:hover {
  background : rgba(246, 243, 252, 1) !important;
}

.ant-carousel .slick-dots {
  z-index : $z-index_default !important;
}

.ant-select-tree-node-content-wrapper {
  padding : 10px 14px !important;
}

.ant-select-tree-switcher {
  display         : flex !important;
  justify-content : center !important;
  align-items     : center !important;

  &:hover {
	background-color : $white !important;
  }

  &::before {
	margin-top : 10px;
  }
}

.ant-select-tree-node-content-wrapper {
  background-color : $white !important;

  &:hover {
	background-color : $white !important;
  }
}

.ant-select-tree-switcher-noop {
  display : none !important;
}

.ant-select-tree-switcher-icon > svg {
  width  : 16px !important;
  height : 16px !important;
}


.ant-select-tree-node-content-wrapper-normal {
  font-size   : 14px !important;
  font-weight : 400 !important;
  color       : $black !important;
  margin-left : -24px !important;

  &:hover {
	background : #f6f3fc !important;
  }
}

.ant-select-tree-node-selected {
  background : #f6f3fc !important;

  &:hover {
	background : #f6f3fc !important;
  }

  &::after {
	content           : "";
	position          : absolute;
	right             : 20px;
	top               : 50%;
	transform         : translateY(-50%);
	width             : 20px;
	height            : 20px;
	background-image  : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M16.6654 5L7.4987 14.1667L3.33203 10' stroke='%237A58D0' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	background-size   : contain;
	background-repeat : no-repeat;
  }
}

.ant-select-tree-node-content-wrapper-close {
  &:hover {
	background-color : $white !important;
  }

  background-color : $white !important;
}

.ant-select-tree-list-scrollbar-vertical {
  border-radius : 8px !important;
  background    : $dark_white !important;
}

.ant-select-tree-list-scrollbar-thumb {
  width         : 8px !important;
  background    : $accent !important;
  border-radius : 8px !important;
}

//========================= React-datepicker ======================

.react-datepicker {
  border-radius : 12px !important;
  border-color  : #eaecf0 !important;
  @include breakpoint(tablet) {
	width : 100%;
  }
}

.react-datepicker__day-names {
  max-width : 400px !important;
  display   : flex;
}

.react-datepicker__week {
  max-width : 400px !important;
  display   : flex;
}

.react-datepicker__header {
  max-width        : 400px !important;
  background-color : $white !important;
  border-bottom    : none !important;
}

.react-datepicker__current-month {
  margin-bottom : 70px !important;
  text-align    : left !important;
  font-size     : 16px !important;
  color         : $black !important;
  font-weight   : 600 !important;

  h2 {
	font-weight : 600 !important;
	font-size   : 14px !important;
  }
}

.react-datepicker__month-container {
  padding  : 20px 24px !important;
  position : relative !important;
}

.react-datepicker__day-names {
  font-size : 14px !important;
  color     : $black !important;
  padding   : 2px !important;
}

.react-datepicker__navigation--next {
  position : absolute !important;
  top      : 25px !important;
  right    : 20px !important;
}

.react-datepicker__navigation--previous {
  position : absolute !important;
  left     : 73% !important;
  top      : 25px !important;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color : $accent !important;
}

.react-datepicker__day {
  color         : $black !important;
  border-radius : 50% !important;
  font-size     : 14px !important;

  &:hover {
	background-color : $medium_accent !important;
	color            : $accent !important;
  }
}

.react-datepicker__day--disabled {
  color         : $grey !important;
  border-radius : 50% !important;
  font-size     : 14px !important;

  &:hover {
	background-color : $medium_accent !important;
	color            : $accent !important;
  }
}

.react-datepicker__day--today {
  background    : linear-gradient(180deg, #b55dd9 0.01%, #5054c9 100%) !important;
  border-radius : 50% !important;
  color         : $white !important;
  font-weight   : 600 !important;

  &:hover {
	color : $white !important;
  }
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color : $medium_accent !important;
  border-radius    : 50% !important;
  color            : $accent !important;
  font-weight      : 400 !important;

  &.react-datepicker__day--today {
	color       : $white !important;
	font-weight : 600 !important;
  }
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background : none !important;
  color      : $grey !important;

  &:hover {
	background-color : $medium_accent !important;
	color            : $accent !important;
  }
}

.ant-carousel .slick-dots {
  padding        : 0 20px !important;
  padding-bottom : 6px !important;
}

.ant-radio-wrapper {
  border        : 1px solid #ebebeb !important;
  border-radius : 8px !important;
  padding       : 8px 8px 8px 0px !important;
  display       : flex !important;
  align-items   : center !important;
}

.ant-radio-wrapper > span {
  display     : flex !important;
  align-items : center !important;
  gap         : 6px !important;
  color       : $black !important;
  margin-left : 8px !important;
}

.ant-radio-wrapper > .ant-radio-checked .ant-radio-inner {
  background : $accent_gradient !important;
  border     : 1px solid $accent !important;
}

.ant-radio-wrapper > .ant-radio-checked .ant-radio-inner:hover {
  background : $accent_gradient !important;
  border     : 1px solid $accent !important;
}

.ant-radio-wrapper:hover .ant-radio-inner {
  border : 1px solid $accent !important;
}

.ant-checkbox-inner {
  position : relative !important;
}

.ant-radio-inner:after {
  display : none !important;
}

.ant-date-picker {
  position      : relative !important;
  // overflow: hidden;
  width         : 100%;
  border        : 1px solid $light_grey;
  padding       : 10px 14px;
  border-radius : 6px !important;
  padding-left  : 32px !important;
  outline       : none !important;
  box-shadow    : none;

  &:hover {
	border : 1px solid $grey;
  }

  &:focus {
	border : 1px solid $grey;
  }

  &:active {
	border : 1px solid $grey;
  }
}

.ant-picker-focused {
  border     : none !important;
  outline    : none !important;
  box-shadow : none;
}

.ant-picker-outlined {
  outline      : none !important;
  box-shadow   : none;
  border-width : 1px !important;
}

.ant-picker-outlined:focus-within {
  border     : 1px solid $grey !important;
  outline    : none !important;
  box-shadow : none;
}

.ant-picker-cell-disabled::before {
  background-color : white !important;
}

.ant-picker-cell-today {
  background-color : $light_accent !important;
  border-radius    : 50% !important;
  color            : $accent !important;
}

.ant-picker-cell-inner {
  font-size     : 14px !important;
  border-radius : 50% !important;
  @include flex-center;

  &:hover {
	background-color : transparent !important;
  }
}

.ant-picker-cell-selected:not(.ant-picker-cell-disabled) {
  background    : $accent_gradient !important;
  border-radius : 50% !important;
}

.ant-picker-cell-inner::before {
  border           : none !important;
  background-color : transparent !important;
  border-radius    : 50% !important;
  color            : $accent !important;
  z-index          : $z-index_below !important;
  @include flex-center;
}

.ant-picker-dropdown
.ant-picker-cell-in-view.ant-picker-cell-selected:not(
		.ant-picker-cell-disabled
	)
.ant-picker-cell-inner {
  background : transparent !important;
  z-index    : $z-index_above !important;
}

.ant-picker-cell-inner {
  background : transparent !important;
}

.ant-picker-cell-in-view.ant-picker-cell:hover {
  background-color : $light_accent !important;
  border-radius    : 50% !important;

  &::before {
	background-color : transparent !important;
  }
}

.ant-picker-header {
  position     : relative !important;
  padding-left : 20px !important;
  border       : none !important;
  overflow     : hidden !important;
  margin-top   : 6px !important;
}

.ant-picker-header-view {
  display         : flex !important;
  justify-content : flex-start !important;
  align-items     : flex-start !important;
  font-weight     : $font_weight_medium !important;
  font-size       : 14px !important;
}

.ant-picker-month-btn,
.ant-picker-year-btn {
  pointer-events : none;
}

.ant-picker-header-super-prev-btn,
.ant-picker-header-super-next-btn {
  display : none !important;
}

.ant-picker-header-prev-btn {
  position : absolute;
  right    : 50px !important;
  top      : 8px !important;
}

.ant-picker-header-next-btn {
  position : absolute;
  right    : 20px !important;
  top      : 8px !important;
}

.ant-picker-now {
  display : none !important;
}

.ant-picker-body {
  // margin-top: 56px !important;
  padding-bottom : 10px !important;
}

.ant-picker-cell-disabled.ant-picker-cell-today::before {
  background : transparent !important;
}

.ant-drawer-mask {
  background : transparent !important;
}

.ant-drawer-content-wrapper {
  width         : 482px !important;
  @include breakpoint(mobile-x) {
	max-width : 300px;
  }
  border-radius : 40px !important;
  top           : -1px !important;
  bottom        : -1px !important;
  right         : -1px !important;
}

.ant-drawer-header {
  border-bottom : unset !important;
  margin-top    : 12px;
  padding       : 0 !important;
}

.ant-drawer-header-title {
  display         : flex;
  align-items     : center;
  justify-content : flex-end;
  padding-right   : 12px;
}

.ant-drawer-body {
  padding  : 0 !important;
  position : relative !important;
}

.ant-drawer-close {
  position : absolute;
  right    : 0;
  top      : 12px;
  z-index  : 100;
}

.eighty_percent_completed {
  border-radius : 20px !important;

  .ant-modal-content {
	background-color : $light_grey !important;
  }
}

.master_app_popup {
  .ant-modal-content {
	background-color : $light_grey !important;
	@include breakpoint(tablet) {
	  background-color : $white !important;
	}
  }
}

.bottomSheet {
  overflow : hidden !important;

  > div {
	[data-rsbs-header] {
	  background    : $light_grey !important;
	  border-radius : 20px 20px 0 0;
	}
  }
}

.master_app_popup {
  > div {
	[data-rsbs-header] {
	  display : none;
	}
  }
}

[data-rsbs-overlay],
[data-rsbs-backdrop],
[data-rsbs-root]:after {
  z-index : 9999 !important;
}

.preserve-whitespace {
  word-break : break-all;
}

.ant-switch.ant-switch-checked:hover {
  background-color : #7a58d0 !important;
}

.highlight {
  color       : $accent !important;
  background  : transparent !important;
  font-weight : $font_weight_medium;
}

.ant-segmented-group {
  gap : 8px;

  .ant-segmented-item-label {
	color     : #7c7c7c;
	font-size : 14px;
  }

  .ant-segmented-item-selected {
	.ant-segmented-item-label {
	  color       : white !important;
	  font-weight : $font_weight_medium;
	  font-size   : 14px;
	}
  }
}

.text-editor {
  border-radius : 8px;
  border        : 1px solid #ebebeb;

  .ql-toolbar.ql-snow {
	border        : none !important;
	border-bottom : 1px solid $medium_grey !important;
  }

  .ql-editor {
	min-height : 120px !important;
  }

  .ql-container.ql-snow {
	border : none !important;
  }
}

.chart-title-and-legend {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
}

.chart-title-and-legend .chart-title {
  flex : 1;
}

.chart-title-and-legend .legend-wrapper {
  display : flex;
  gap     : 10px;
}

.fc-theme-standard td {
  @media screen and (min-width : 1115px) {
	width : 100% !important;
  }
}

.fc-daygrid-body {
  @media screen and (min-width : 1115px) {
	width : 100% !important;
  }
}

.fc-col-header {
  @media screen and (min-width : 1115px) {
	width : 100% !important;
  }
}

