@import 'mixin';

$grey_light: #f8f8f9;
$black: #282529;
$white: #ffffff;
$dark_white: #f5f5f5ff;
$dark_grey: #7c7c7c;
$grey: #c1c1c1;
$medium_grey: #ebebeb;
$light_grey: #f5f5f5;
$accent: #7a58d0;
$medium_accent: #f0ebfa;
$light_accent: #f6f3fc;
$dark_purple: #361e4f;
$extra_dark_purple: #240c3c;
$status_green: #26b05d;
$status_blue: #225ed3;
$status_orange: #ee8d34;
$status_yellow: #f7dd17;
$status_red: #e63838;
$status_light_red: #fcf3f3ff;
$status_light_green: #edffee;
$matcher_black: #1d1b1d;
$matcher_dark_black: #191719;
$status_rose: #fcf3f3;
$pink_light: #f6f3fcff;
$pink_dark: #7a58d0;
$pink_dark_medium:#DACEF3;

$accent_gradient: linear-gradient(180deg, #403b3b 0.01%, #000000 100%);

$z-index_maxLevel: 999999;
$z-index_modal: 9999;
$z-index_sidebar: 3000;
$z-index_toolbar: 2000;
$z-index_fixed: 500;
$z-index_high: 20;
$z-index_above: 10;
$z-index_third: 3;
$z-index_second: 2;
$z-index_default: 1;
$z-index_below: -1;

$font_size_desktop_xs: 14px;
$font_size_desktop_s: 16px;
$font_size_desktop_m: 20px;
$font_size_desktop_l: 24px;
$font_size_desktop_lg: 30px;
$font_size_desktop_xl: 40px;
$font_size_desktop_xxl: 56px;

$font_size_mobile_xs: 10px;
$font_size_mobile_s: 12px;
$font_size_mobile_m: 14px;
$font_size_mobile_l: 16px;
$font_size_mobile_xl: 20px;
$font_size_mobile_xxl: 24px;

$font_weight_thin: 100;
$font_weight_light: 300;
$font_weight_normal: 400;
$font_weight_light_medium: 500;
$font_weight_medium: 600;
$font_weight_bold: 700;
$font_weight_black: 900;

$transition: all 0.3s ease-in-out;

$gap_small: 8px;
$gap_normal: 12px;
$gap_regular: 16px;
$gap_medium: 24px;
$gap_large: 40px;

$line_height_xs: 15px;
$line_height_s: 18px;
$line_height_m: 21px;
$line_height_l: 24px;
$line_height_xl: 30px;
$line_height_2xl: 36px;
$line_height_3xl: 50px;
$line_height_4xl: 64px;

@mixin link_hover {
	transition: $transition;
	&:hover {
		opacity: 0.8;
	}
}

@mixin container_padding {
	padding: 24px;
	@include breakpoint(mobile-x) {
		padding: 16px;
	}
}

@mixin font_size_xs {
	font-size: $font_size_desktop_xs;
	@include breakpoint(mobile-x) {
		font-size: $font_size_mobile_s;
	}
}

@mixin font_size_s {
	font-size: $font_size_desktop_s;
	@include breakpoint(mobile-x) {
		font-size: $font_size_mobile_s;
	}
}

@mixin font_size_m {
	font-size: $font_size_desktop_m;
	@include breakpoint(mobile-x) {
		font-size: $font_size_mobile_m;
	}
}

@mixin font_size_ml {
	font-size: $font_size_desktop_m;
	@include breakpoint(mobile-x) {
		font-size: $font_size_mobile_l;
	}
}

@mixin font_size_l {
	font-size: $font_size_desktop_l;
	@include breakpoint(mobile-x) {
		font-size: $font_size_mobile_l;
	}
}

@mixin font_size_lg {
	font-size: $font_size_desktop_lg;
	@include breakpoint(mobile-x) {
		font-size: $font_size_mobile_xxl;
	}
}

@mixin font_size_xl {
	font-size: $font_size_desktop_xl;
	@include breakpoint(mobile-x) {
		font-size: $font_size_mobile_xxl;
	}
}

@mixin scrollbar($width, $height: false, $background: null) {
	&::-webkit-scrollbar {
		width: $width;
		@content;
		@if $height {
			height: $height;
		}
	}

	&::-webkit-scrollbar-track {
		border-radius: 20px;
		background-color: if($background != null, $background, $dark_white);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: $accent;
	}
}

@mixin pageScroll($scrollBarWidth, $height, $maxHeight, $background: null) {
	height: $height;
	overflow-y: auto;
	max-height: $maxHeight;
	scrollbar-gutter: stable;
	@include scrollbar($scrollBarWidth, false, $background);
}
