@import "@/styles/flex";
@import "@/styles/vars";

.input {
	width: 100%;
	position: relative;

	input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
	-webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: none !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: black !important;
}

	.tooltip {
		@include flex-align;
		width: max-content;
		margin-bottom: 8px;
		gap: 6px;

		h2 {
			font-size: $font_size_desktop_xs;
			color: $black;
			font-weight: 400;
		}
	}

	&__label {
		display: flex;
		align-items: center;
		gap: 6px;
		margin-bottom: 8px;
		font-size: $font_size_desktop_xs;
		color: $black;

		&.align {
			align-items: center;
		}

		&__optional {
			padding-left: 6px;
			color: #8c8c8c;
			font-size: 14px;
			line-height: normal;
		}

		b {
			margin-left: 4px;
			color: $status_red;
			font-size: $font_size_desktop_m;
		}
	}

	&__box {
		position: relative;
		width: 100%;
		border-radius: 8px;

		&.dark_mode {
			input {
				background-color: transparent !important;
			}
		}

		&.purple_mode {
			input {
				background-color: transparent !important;
			}
		}

		&.grey_mode {
			input {
				background-color: transparent !important;
			}
		}

		span > input,
		input {
			height: 44px;
			caret-color: $accent;
			border-color: $light_grey;
			color: $black;

			&::placeholder {
				color: $grey;
			}

			&:hover {
				border-color: $grey;
			}

			&:focus {
				border-color: $grey;
				box-shadow: unset;
			}
		}

		span {
			height: 44px;
			@include flex-align;
			border-color: $light_grey;

			&:focus-within {
				border-color: $grey;
				box-shadow: unset;
			}

			&:hover {
				border-color: $grey;
			}

			&:focus {
				border-color: $grey;
				box-shadow: unset;
			}
		}
	}

	&.disabled {
		span > input,
		input {
			background: $dark_white;
			border-color: $light_grey;

			&:hover {
				border-color: $light_grey;
			}
		}
	}

	.numeric_arrows {
		position: absolute;
		top: 0;
		right: 8px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0;
		height: 100%;
		& > span {
			height: fit-content;
			&.arrow_disabled {
				pointer-events: none;
				& > svg > path {
					fill: #7c7c7c;
				}
			}
			& > svg {
				width: 18px;
				height: 18px;
			}
			@include flex-center;
		}
	}

	&__error_text {
		margin-top: $font_size_mobile_xs;
		color: $status_red;
		font-size: $font_size_desktop_xs;
		text-align: left;
		width: 100%;
		display: flex;
		gap: 8px;

		> span > svg {
			margin-top: 2px;
		}
	}

	&__warning_text {
		margin-top: $font_size_mobile_xs;
		color: $dark_grey;
		font-size: $font_size_desktop_xs;
		text-align: left;
		width: 100%;
		display: flex;
		gap: 8px;

		> span > svg {
			margin-top: 3px;
		}
	}
}
