@import "@/styles/vars";
@import "@/styles/flex";
@import "@/styles/mixin";

.wrapper {
	max-width: 648px;
	width: 100%;
	@include flex-column-align;
	padding: 20px;

	.icon {
		svg {
			path {
				fill: $status_red;
			}
		}
	}

	.title {
		@include font_size_xl;
		line-height: normal;
		font-weight: 600;
		color: $black;
		margin-top: 32px;
	}

	.text {
		max-width: 502px;
		@include font_size_s;
		font-weight: 400;
		line-height: normal;
		color: $black;
		text-align: center;
		margin-top: 16px;
	}
}
