@import "@/styles/flex.scss";
@import "@/styles/vars.scss";
@import "@/styles/mixin.scss";

.wrapper {
  max-width     : 470px;
  width         : 100%;
  padding       : 15px 40px;
  gap           : 10px;
  @include pageScroll(5px, 702px, 702px);
  background    : $white;
  @include flex-column-center;
  border-radius : 16px;

  @include breakpoint(desktop) {
	padding : 50px 30px;
  }

  @include customBreakpointSize(910px) {
	max-width : 100%;
	padding   : 50px 40px;
  }

  @include breakpoint(mini-tablet) {
	padding : 40px 20px;
  }
  @include breakpoint(mobile-x) {
	padding    : 16px;
	min-height : 100dvh;
	flex       : 1;
  }

  .form {
	max-width : 100%;
	width     : 100%;
	@include flex-column;
	gap       : 16px;
	position  : relative;
	@include breakpoint(mobile-x) {
	  flex            : 1;
	  justify-content : center;
	  position        : static;
	}

	.info {
	  display        : flex;
	  flex-direction : column;
	  gap            : 2px;
	  @include flex-column;
	  @include breakpoint(mobile-x) {
		margin-bottom : 20px;
	  }

	  .text {
		@include font_size_xl;
		line-height : $line_height_3xl;
		color       : $black;
		text-align  : center;
		white-space : nowrap;
	  }

	  .subTitle {
		@include font_size_m;
		color      : $black;
		text-align : center;
	  }
	}

	.lists {
	  width : 100%;
	  @include flex-column;
	  gap   : 16px;

	  .list {
		@include customBreakpointSize(910px) {
		  max-width : 100%;
		}
	  }
	}

	.error {
	  @include flex-align;
	  gap        : 8px;
	  height     : fit-content;
	  color      : $status_red;
	  font-size  : $font_size_desktop_xs;
	  text-align : left;
	  width      : 100%;

	  span {
		@include flex-center;
	  }
	}

	.remember {
	  @include flex-justify-between-center;

	  .block {
		@include flex-align;
		position : relative;

		.text {
		  font-weight : $font_weight_normal;
		  font-size   : $font_size_desktop_xs;
		  line-height : $line_height_m;
		  color       : $black;
		}
	  }

	  .logging {
		font-size   : $font_size_desktop_xs;
		font-weight : $font_weight_medium;
		line-height : $line_height_l;
		color       : $accent;
		cursor      : pointer;
		@include link_hover;
	  }
	}
  }

  .container {
	@include flex-column;
	@include breakpoint(mobile-x) {
	  margin-top : 130px;
	}
	gap : 14px;

	.accountYet {
	  @include flex-center;
	  gap : 6px;

	  .account {
		font-size   : $font_size_desktop_xs;
		font-weight : $font_weight_normal;
		line-height : $line_height_m;
		color       : $black;
	  }

	  .signIn {
		font-size   : $font_size_desktop_xs;
		line-height : $line_height_l;
		color       : $accent;
		cursor      : pointer;
		position    : relative;

		a {
		  position : relative;

		  &::before {
			content    : "";
			position   : absolute;
			width      : 100%;
			height     : 0.5px;
			background : $accent;
			bottom     : 6px;
			left       : 0;
			right      : 0;
		  }
		}
	  }
	}
  }

  .auth {
	width : 100%;
	@include flex-column;
	gap   : 16px;

	.or {
	  @include flex-center;
	  gap        : 20px;
	  width      : 100%;
	  margin-top : 12px;
	  @include breakpoint(mobile-x) {
		margin-top : 5px;
	  }

	  .left_thumb {
		width            : 50%;
		height           : 1px;
		background-color : $medium_grey;
	  }

	  .right_thumb {
		width            : 50%;
		height           : 1px;
		background-color : $medium_grey;
	  }

	  .text {
		width       : fit-content;
		font-size   : $font_size_desktop_xs;
		font-weight : $font_weight_light_medium;
		line-height : $line_height_m;
		color       : $dark_grey;
		position    : relative;
		white-space : nowrap;
		@include flex-center;
	  }
	}

	.with {
	  display : flex;
	  gap     : 8px;

	  button {
		font-weight : $font_weight_normal;
		@include breakpoint(desktop) {
		  font-size   : $font_size_mobile_s;
		  line-height : $line_height_xs;
		}
		@include customBreakpointSize(910px) {
		  font-size   : $font_size_desktop_s;
		  line-height : $line_height_l;
		}
		@include breakpoint(tablet) {
		  font-size   : $font_size_mobile_m;
		  line-height : $line_height_s;
		}
		@include customBreakpointSize(590px) {
		  font-size : $font_size_mobile_s;
		}
		@include breakpoint(mobile-x) {
		  font-size : 12px;
		  & > span > span > svg {
			width  : 14px;
			height : 14px;
		  }
		}
		@include breakpoint(mobile) {
		  font-size : 10px;
		  & > span > span > svg {
			width  : 12px;
			height : 12px;
		  }
		}
	  }
	}
  }

  .toast {
	width    : 100%;
	@include flex-center;
	position : absolute;
	left     : 0;
	right    : 0;
	bottom   : -80px;
	@include breakpoint(mobile-x) {
	  left    : 0;
	  right   : 0;
	  top     : 61%;
	  bottom  : auto;
	  padding : 0 16px;
	}

	.toast_container {
	  width            : 100%;
	  max-width        : 564px;
	  background-color : white;
	  box-shadow       : 4px 4px 32px 0px rgba(0, 0, 0, 0.08);
	  position         : relative;
	  padding          : 16px 10px;
	  bottom           : 12%;
	  z-index          : $z-index_fixed;
	  border-radius    : 8px;
	  @include customBreakpointSize("910px") {
		width     : 100%;
		max-width : 100%;
	  }
	  @include breakpoint(mobile-x) {
		bottom    : 36%;
		padding   : 16px;
		width     : 100%;
		max-width : 400px;
		left      : 0;
		right     : 0;
	  }

	  .header {
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		@include breakpoint(mobile-x) {
		  flex-direction : column;
		  position       : relative;
		}

		.icon {
		  width           : 45px;
		  height          : 20px;
		  display         : flex;
		  align-items     : flex-start;
		  justify-content : center;
		  margin-top      : 4px;
		  @include breakpoint(mobile-x) {
			justify-content : flex-start;
			height          : 30px;
		  }
		}

		.closeIcon {
		  position : absolute;
		  top      : 20px;
		  right    : 0;
		  @include breakpoint(mobile-x) {
			top             : 0;
			justify-content : flex-end;
		  }
		}

		p {
		  width         : 100%;
		  text-align    : left;
		  color         : $status_red;
		  font-size     : $font_size_desktop_s;
		  font-weight   : $font_weight_medium;
		  padding-right : 40px;
		  @include breakpoint(mobile-x) {
			padding-right : 0;
		  }
		}
	  }

	  .message {
		width         : 100%;
		font-size     : $font_size_desktop_xs;
		font-weight   : $font_weight_normal;
		padding       : 0 40px;
		margin-top    : 4px;
		word-wrap     : break-word;
		word-break    : break-word;
		overflow-wrap : break-word;
		@include breakpoint(mobile-x) {
		  padding : 0;
		}
	  }
	}
  }
}
.wrong_role{
	width: 100%;
	height: 100dvh;
	background: $dark_white;
	position: fixed;
	inset: 0;
	z-index: 9999 !important;
}