@import "@/styles/flex";
@import "@/styles/vars";

.select {
  width    : 100%;
  position : relative;

  &__label {
	margin-bottom : 8px;
	@include flex-align;
	font-size     : $font_size_desktop_xs;

	b {
	  margin-left : 4px;
	  color       : $status_red;
	  font-size   : $font_size_desktop_m;
	}
  }

  &__box {
	width    : 100%;
	position : relative;

	&__main_icon {
	  position  : absolute;
	  left      : 8px;
	  top       : 55%;
	  transform : translateY(-50%);
	  z-index   : $z-index_second;
	}

	&__list {
	  height : 44px !important;

	  &.loading {
		span {
		  padding-left : 35px !important;
		  color        : $dark_grey;
		}
	  }

	  &.loading_value {
		span {
		  padding-left : 15px !important;
		  color        : $dark_grey;
		}
	  }

	  &.withIcon {
		& > div > span > input {
		  padding-left : 20px !important;
		}
	  }

	  &__item {
		width    : 100%;
		position : relative;
		@include text-ellipsis;

		&__icon {
		  margin-top       : 5px;
		  background-color : green;
		}

		&__check {
		  position   : absolute;
		  right      : 14px;
		  margin-top : 4px;
		  top        : 50%;
		  transform  : translateY(-50%);

		  & > svg > path {
			stroke : $accent;
		  }
		}
	  }
	}
  }

  &.disabled {
	div {
	  background   : $dark_white;
	  border-color : $light_grey;

	  &:hover {
		border-color : $light_grey !important;
	  }
	}
  }

  &__error_text {
	margin-top : $font_size_mobile_xs;
	color      : $status_red;
	font-size  : $font_size_desktop_xs;
	text-align : left;
	width      : 100%;
	display    : flex;
	gap        : 8px;
  }

  &__warning_text {
	margin-top : $font_size_mobile_xs;
	color      : $dark_grey;
	font-size  : $font_size_desktop_xs;
	text-align : left;
	width      : 100%;
	display    : flex;
	gap        : 8px;

	> span > svg {
	  margin-top : 3px;
	}
  }
}

.add_item {
  width : 100%;

  &__wrapper {
	width : 100%;
	@include flex-align;
	gap   : 10px;

	&__input {
	  width   : 100%;
	  padding : 5px;
	}

	&__button {
	  width : max-content;
	}
  }
}

.option {
  display     : flex;
  align-items : center;
  gap         : $gap_normal;
  width       : max-content !important;
  font-weight : $font_weight_normal;

  .optionSecondLabelKey {
	font-weight : $font_weight_medium;
  }


}
