@import "@/styles/flex.scss";
@import "@/styles/vars.scss";
@import "@/styles/mixin.scss";
@import "@/styles/fonts";

.container {
	width: 100%;
	height: 100dvh;
	overflow-y: auto;
	padding: 20px 60px;
	@include breakpoint(tablet) {
		padding: 40px 24px;
	}
	@include breakpoint(mobile-x) {
		padding: 16px;
	}
	.logo {
		width: 100%;
		height: 60px;
		@include breakpoint(tablet) {
			@include flex-center;
		}
	}
	.content {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include breakpoint(tablet) {
			height: auto;
			margin-top: 12px;
		}
		.title {
			font-size: $font_size_desktop_xl;
			font-family: $font_besley;
			text-align: center;
			max-width: 600px;
			font-weight: $font_weight_light_medium;
			font-family: $font_besley;
			line-height: 140%;
			@include font_size_xl;
			@include breakpoint(mobile-x) {
				font-size: $font-size-mobile_xxl;
				max-width: 350px;
			}
		}
		.sub_title {
			text-align: center;
			max-width: 488px;
			margin-top: 16px;
			font-size: 16px;
			@include breakpoint(mobile-x) {
				margin-top: 10px;
				font-size: $font_size_mobile_m;
				max-width: 340px;
			}
		}
		.blocks {
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			@include breakpoint(tablet) {
				height: auto;
				margin-top: 24px;
				gap: 12px;
			}
			.block {
				border-radius: 24px;
				background: $white;
				box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
				padding: 16px;
				width: 633px;
				display: flex;
				align-items: center;
				gap: 30px;
				@include breakpoint(tablet) {
					flex-direction: column;
					width: 100%;
					.image {
						width: 100%;
						& > img {
							width: 100%;
							height: 153px;
							object-fit: cover;
						}
					}
				}
				.block_texts {
					display: flex;
					flex-direction: column;
					gap: 12px;
					& > h2 {
						font-size: $font_size_desktop_m;
						font-weight: $font_weight_medium;
						font-family: $font_open_sans;
					}
					& > p {
						font-size: $font_size_desktop_s;
					}
					& > span {
						margin-top: 12px;
						font-size: $font_size_desktop_xs;
						color: $accent;
						font-weight: $font_weight_medium;
						cursor: pointer;
						display: flex;
						align-items: center;
						gap: $gap_small;
						& > svg > path {
							fill: $accent;
						}
						@include breakpoint(tablet) {
							margin-top: 6px;
						}
					}
				}
			}
			.warning_text {
				margin-top: 6px;
				padding: 12px;
				border-radius: 12px;
				border: 1px solid $medium_grey;
				background: #fafafa;
				display: flex;
				align-items: center;
				gap: 10px;
				max-width: 633px;
				& > p {
					font-size: $font_size_mobile_s;
				}
				@include breakpoint(mobile-x) {
					align-items: flex-start;
				}
				.icon {
					width: 20px;
					height: 100%;
					@include flex-center;
					@include breakpoint(mobile-x) {
						display: flex;
						align-items: flex-start;
						justify-content: center;
					}
					& > svg {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}
}
