@import "@/styles/vars";
@import "@/styles/flex";

$local_grey : rgba(235, 235, 235, 1);

.button {
  width         : 100%;
  color         : $black;
  text-align    : center;
  border-radius : 100px;
  overflow      : hidden;
  position      : relative;
  cursor        : pointer;
  font-weight   : 600 !important;
  transition    : $transition;

  box-sizing    : border-box;

  &__content {
	height : 100%;

	&__text {
	  height     : 100%;
	  transform  : translateY(0);
	  transition : transform $transition;
	  @include flex-center;
	  gap        : 8px;

	  svg {
		path {
		  transition : all $transition;
		}
	  }
	}
  }

  &.primary {
	color         : $white;
	border-radius : 100px;
	background    : $accent_gradient;
	box-shadow    : 0 4px 4px 0 rgba(0, 0, 0, 0.17);

	& > span > span {
	  font-weight : $font_weight_medium;
	}

	&::before {
	  background-color : initial;
	  background-image : linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
	  border-radius    : 100px;
	  content          : "";
	  height           : 50%;
	  left             : 4%;
	  opacity          : 0.5;
	  position         : absolute;
	  top              : 3px;
	  transition       : all 0.3s;
	  width            : 92%;
	  z-index          : $z-index_second;
	}

	&:after {
	  border-radius : 100px;
	  content       : "";
	  width         : 99.5%;
	  height        : 99%;
	  top           : 50%;
	  left          : 50%;
	  transform     : translate(-50%, -50%);
	  z-index       : $z-index_default;
	  position      : absolute;
	  transition    : all 0.3s;
	  box-shadow    : 0 1px 1.5px 1.5px rgba(255, 255, 255, 0.5) inset;
	}

	&:hover {
	  &::before {
		left   : 0;
		width  : 100%;
		height : 100%;
		top    : 0;
	  }
	}
  }

  &.dark_primary {
	color         : $white;
	border-radius : 100px;
	background    : $dark_purple;
	box-shadow    : 0 4px 4px 0 rgba(0, 0, 0, 0.17);
	border        : 1px solid rgba(255, 255, 255, 0.1);

	& > span > span {
	  font-weight : $font_weight_medium;
	}
  }

  &.dark_secondary {
	position      : relative;
	color         : $white;
	border-radius : 100px;
	background    : rgb(52, 52, 52);

	& > span > span {
	  font-weight : $font_weight_medium;
	}

	&::after {
	  content          : "";
	  width            : 150px;
	  height           : 50px;
	  background-color : #8f9194;
	  position         : absolute;
	  right            : 0;
	  bottom           : 0;
	  filter           : blur(85px);
	  z-index          : $z-index_default;
	  border-radius    : 100px;
	}
  }

  &.primary_disabled {
	background : $dark_grey;
	box-shadow : unset;
	cursor     : not-allowed;

	.button__content {
	  color : $white;
	}

	&:hover {
	  &::before {
		background-color : initial;
		background-image : linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
		border-radius    : 100px;
		content          : "";
		height           : 50%;
		left             : 4%;
		opacity          : 0.5;
		position         : absolute;
		top              : 3px;
		transition       : all 0.3s;
		width            : 92%;
	  }
	}

	&:active {
	  transform : none;
	}
  }

  &.secondary {
	border-radius    : 100px;
	box-shadow       : 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	box-sizing       : border-box;
	background-color : $white;
	color            : $black;
	transition       : $transition;

	&::before {
	  content                : "";
	  position               : absolute;
	  inset                  : 0;
	  border-radius          : 100px;
	  padding                : 1px;
	  background             : linear-gradient(
					  97.22deg,
					  #dbdbdb 22.1%,
					  #ffffff 39.06%,
					  #515561 61.32%,
					  #2a4973 74.22%
	  ) !important;
	  -webkit-mask           : linear-gradient(#fff 0 0) content-box,
	  linear-gradient(#fff 0 0);
	  -webkit-mask-composite : xor;
	  mask-composite         : exclude;
	}

	&:hover {
	  color : $accent;

	  &::before {
		padding : 1.5px;
	  }
	}
  }

  &.secondary_disabled {
	background : $white;
	border     : 1px solid $local_grey;
	color      : $local_grey;
	box-shadow : unset;
	cursor     : not-allowed;

	&::before {
	  display : none;
	}

	&:hover {
	  color : $local_grey;
	}

	&:active {
	  transform : none;
	}
  }

  &.dashed_selected {
	border-radius : 100px;
	color         : $black;
	border        : 1px solid $medium_grey;
	transition    : $transition;

	&::before {
	  content                : "";
	  position               : absolute;
	  inset                  : 0;
	  border-radius          : 100px;
	  padding                : 1px;
	  background             : linear-gradient(
					  97.22deg,
					  #dbdbdb 22.1%,
					  #ffffff 39.06%,
					  #515561 61.32%,
					  #2a4973 74.22%
	  ) !important;
	  -webkit-mask           : linear-gradient(#fff 0 0) content-box,
	  linear-gradient(#fff 0 0);
	  -webkit-mask-composite : xor;
	  mask-composite         : exclude;
	  transition             : $transition !important;
	}
  }

  &.dashed {
	border-radius : 100px;
	color         : $black;
	border        : 1px solid $medium_grey;
	transition    : $transition;

	&:hover {
	  &::before {
		content                : "";
		position               : absolute;
		inset                  : 0;
		border-radius          : 100px;
		padding                : 1px;
		background             : linear-gradient(
						97.22deg,
						#dbdbdb 22.1%,
						#ffffff 39.06%,
						#515561 61.32%,
						#2a4973 74.22%
		) !important;
		-webkit-mask           : linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
		-webkit-mask-composite : xor;
		mask-composite         : exclude;
		transition             : $transition !important;
	  }
	}
  }

  &.dashed_disabled {
	color      : $local_grey;
	background : $white;
	cursor     : not-allowed;

	&:hover {
	  &:before {
		display : none;
	  }
	}

	&:active {
	  transform : none;
	}
  }

  &.text {
	color : $accent;

	&:hover {
	  color      : $black;
	  background : transparent;
	}
  }

  &.text_disabled {
	color  : $local_grey;
	cursor : not-allowed;

	&:hover {
	  color : $local_grey;
	}

	&:active {
	  transform : none;
	}
  }

  &.large {
	padding    : 10px 14px;
	min-height : 56px;
  }

  &.middle {
	padding    : 8px 10px;
	min-height : 44px;
  }

  &.small {
	padding    : 8px 12px;
	font-size  : 12px;
	min-height : 32px;

	.button__loader {
	  & > div {
		margin-top : -7px;
		height     : 16px;

		& > div > svg {
		  height : 14px;
		  width  : 14px;
		}
	  }
	}
  }


  &:active {
	transform : scale(0.96);
  }

  &__loader {
	@include flex-center();
	gap : 10px;

	& > div {
	  margin-top : 1px;
	  width      : 24px;
	  height     : 24px;
	}
  }
}

.loading_text {
  font-weight : $font_weight_medium !important;
}
