@import "@/styles/vars";
.drawer {
	border: 1px solid #b55dd9 !important;
	border-radius: 24px 0 0 24px;
	position: relative;
	overflow: hidden;
	&.border_gray {
		border: 1px solid #ebebeb !important;
	}
}
.customHeader {
	width: 100%;
	padding: 0 24px;
	display: flex;
	align-items: flex-start;
	margin-top: -10px;
	justify-content: flex-end;
	padding-right: 30px;
}

.drawer_bottom_sheet {
	// [data-rsbs-overlay] {
	// 	z-index: $z-index_fixed !important;
	// }
	// [data-rsbs-backdrop] {
	// 	background-color: transparent !important;
	// 	opacity: 1;
	// }
	&.light_accent {
		[data-rsbs-header] {
			background: $light_accent !important;
		}
	}
}
