@import "@/styles/flex";
@import "@/styles/vars";

.wrapper {
  @include flex-column;
  gap : 8px;
  .select__label {
    @include flex-align;
    font-size: $font_size_desktop_xs;
  }
}

.ant-date-picker {
  position : relative;
}

.custom_date_header {
  position      : absolute;
  top           : 56px;
  left          : 20px;
  width         : 247px;
  border-radius : 8px;
  padding       : 0 12px;
  font-size     : 14px !important;
  border        : 1px solid $medium_grey;
  display       : flex;
  align-items   : center;
  gap           : $gap_small;
}

.suffix_icon {
  position : absolute;
  top      : 4px;
  left     : -20px;

  > svg > path {
	stroke : $medium_grey;
  }
}

.error_text {
  margin-top : $font_size_mobile_xs;
  color      : $status_red;
  font-size  : $font_size_desktop_xs;
  text-align : left;
  width      : 100%;
  display    : flex;
  gap        : 8px;

  > span > svg {
	margin-top : 2px;
  }
}

// .custom_date_picker_dropdown {
// 	height: 10px !important;
// }

// .date_picker_component {
// 	overflow: scroll;
// 	[class~="ant-picker-dropdown"] {
// 		inset: 0 auto auto 0 !important;
// 	}
// }
