@import "@/styles/vars";
@import "@/styles/flex";

.container {
	@include flex-center;
	gap: 16px !important;
	font-size: $font_size_mobile_s;
	@include breakpoint(mobile-x) {
		@include flex-justify-between-center;
	}

	.child {
		&:first-child,
		&:last-child {
			width: 5%;
		}

		&:last-child {
			@include flex-end;
		}

		width: 95%;
		@include breakpoint(laptop) {
			width: 85%;
		}
		@include breakpoint(mobile-x) {
			width: 65%;
		}

		> span {
			white-space: nowrap;

			&.stars_count {
				font-weight: 600;
				&.dark {
					color: $white !important;
				}
			}

			&.review_count {
				color: $dark_grey;
			}
		}

		.progress {
			width: 99%;
			margin-left: 8px !important;
			@include breakpoint(mini-tablet) {
				width: 97%;
			}
		}
	}
}
