@import "@/styles/vars";
.checkbox {
	&.darkmode {
		[class~="ant-checkbox-checked"] [class~="ant-checkbox-inner"] {
			background: $accent_gradient !important;
			border-color: rgba(102, 102, 102, 0.6) !important;
			&:after {
				width: 4.1px !important;
				height: 7.5px !important;
				border-width: 1px !important;
				border-color: $white !important;
			}
		}

		[class~="ant-checkbox-wrapper"]:not(
				[class~="ant-checkbox-wrapper-disabled"]
			):hover,
		[class~="ant-checkbox-inner"],
		[class~="ant-checkbox"]:not([class~="ant-checkbox-disabled"]):hover
			[class~="ant-checkbox-inner"] {
			border-color: rgba(102, 102, 102, 0.6) !important;
		}
		[class~="ant-checkbox-inner"] {
			background: #302e30 !important;
		}
	}
}
