@import "@/styles/vars";
@import "@/styles/flex";

.container {
	padding: 6px 8px;
	border-radius: 6px;
	font-size: $font_size_mobile_m;
	font-weight: 600;
	@include flex-center;
	gap: $gap_small;

	.icon {
		cursor: pointer;
		height: 16px;
	}

	.block {
		@include flex-center;
		gap: 8px;

		& > .tooltip_title {
			font-weight: 600;
			&.white_style {
				color: $white;
			}
		}

		> span {
			color: $dark_grey;
		}

		&.language_block {
			gap: 16px;

			& > .tooltip_title {
				font-weight: 600;

				&.white_style {
					color: $white;
				}
			}
		}
	}

	&.standart_tooltip {
		background: linear-gradient(90deg, #4b82ed 0%, #b94bed 100%);
		color: $white;
	}

	&.master_tooltip {
		background: linear-gradient(89deg, #ee8d34 0.59%, #eed034 99.68%);
		color: $white;
	}

	&.language_tooltip {
		background-color: $white;
		flex-direction: row-reverse;
		padding: 12px 16px;
	}
	&.standart_company_tooltip {
		background-color: $accent;
		flex-direction: row-reverse;
		padding: 8px 16px;
		color: $white;
		font-weight: $font-weight_medium;
		font-size: font_size_mobile_m;
		@include flex-center;
	}
}
